/****** STATISTIC STYLES ******/
.homepage .static_frame {
  width: 100%;
  height: 236px;
  background: #2c261e;
}

.static_frame .personge_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.static_frame .personge_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #ffffff;
}

.static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

/**** TOP RESTAURANTS STYLES ****/
.homepage .top_restaurant_frame {
  width: 100%;
  height: 605px;
  display: flex;
  background: #0b0e11;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

.top_restaurant_frame .card_class:hover {
  transform: scale(1.04);
}

.top_restaurant_frame .card_one,
.top_restaurant_frame .card_two,
.top_restaurant_frame .card_three,
.top_restaurant_frame .card_four {
  transition: all 0.4s ease 0s;
}

/**** BEST RESTAURANTS STYLES ****/
.best_restaurant_frame {
  width: 100%;
  height: 755px;
  display: flex;
  background: #0b0e11;
}

.best_restaurant_frame .card_class:hover img {
  transform: scale(1.07);
}

.best_restaurant_frame .card_class img {
  transition: all 0.4s ease 0s;
}

.best_restaurant_frame .card_class .card_img {
  overflow: hidden;
}
