/****** STATISTIC STYLES ******/
.homepage {
  background: #0b0e11;
}

.homepage .static_frame {
  width: 100%;
  height: 236px;
  background: #2c261e;
}

.static_frame .personge_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.static_frame .personge_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #ffffff;
}

.static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

/**** TOP RESTAURANTS STYLES ****/
.homepage .top_restaurant_frame {
  width: 100%;
  height: 605px;
  display: flex;
  background: #0b0e11;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

.top_restaurant_frame .card_class:hover {
  transform: scale(1.04);
}

.top_restaurant_frame .card_one,
.top_restaurant_frame .card_two,
.top_restaurant_frame .card_three,
.top_restaurant_frame .card_four {
  transition: all 0.4s ease 0s;
}

/**** BEST RESTAURANTS STYLES ****/
.best_restaurant_frame {
  width: 100%;
  height: 775px;
  display: flex;
  background: #0b0e11;
}

.best_restaurant_frame .card_class:hover img {
  transform: scale(1.07);
}

.best_restaurant_frame .card_class img {
  transition: all 0.4s ease 0s;
}

.best_restaurant_frame .card_class .card_img {
  overflow: hidden;
}

/**** BEST DISHES STYLES ****/
.best_dishes_frame {
  width: 100%;
  height: 462px;
  display: flex;
  margin-top: 72px;
}

.homepage .dish_box {
  margin-right: 26px;
  width: 273px;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_box .dish_img {
  position: relative;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0 50px 0 0;
  display: flex;
  flex-direction: column;
}

.homepage .dish_img .dish_sale {
  margin-top: 43px;
  width: 77px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8be69;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 50px 50px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.homepage .view_btn {
  width: 163px;
  height: 50px;
  margin-top: 31px;
  margin-left: 55px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(28, 23, 23, 0.59);
  border: 2px solid #b48b50;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.homepage .dish_img:hover .view_btn {
  opacity: 1;
}

.homepage .dish_box .dish_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_box .dish_title_text {
  margin-top: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #d1d1d1;
}

.homepage .dish_desc .dish_desc_text {
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
}
